/*
ljusgreen: #DAF7A6;
grey:#c2c2a3;
gul:#FFC300
darkestblue:#17202A
lighterblue: #212F3C
black', '#17202A', '#212F3D', '#34495E', '#212F3C', '#FFC300', '#c2c2a3
transpgrey: rgb(38, 38, 38)
grey: #737373;

font-family: 'Julius Sans One', sans-serif;

*/

/*General positioning................................*/

.aligner {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
   vertical-align: middle;
   margin-right:auto;
}

body {
    width:100%;
    margin-top: 30px;
    margin-right: auto;
    background-image: url("data/petra3vit.PNG"), linear-gradient(to right, #FFC300, white, white, white, white, white);
    background-repeat: no-repeat;
    background-position:top, center;
    background-color:white;
}

a {
    text-decoration: none;
}

/*Petras name in the middle................................*/
.presentation{
    font-family: 'Julius Sans One', sans-serif;
    font-size:3em;
    color:#FFC300;
}


/*Chart Titles and other titles................................*/
.headertext{
    font-family: 'Julius Sans One', sans-serif;
}

/*Reset text................................*/
.reset{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-decoration: none
}

/*DC styling Pie Charts................................*/
.per-cat-chart g.row text {
    fill: black;
    
}


/*DC styling Bar Charts................................*/
 .x.axis text {
    transform: rotate(-70deg);
    text-anchor: end !important;
} 

/*Text styling................................*/
.dottedborder{
    border: 3px dotted #FFC300;
}

.dottedborderround{
    border: 4px dotted #FFC300;
    padding: 20px;
    border-radius:90px;
}

.dottedborderbottom{
    border-bottom: 4px dotted #FFC300;
}




/*Portfolio section................................*/
.similarities{
    background-color: #f5f5f0;
    border: 2px dotted #FFC300;
}

.similarities2{
    background-color: white;
    border-bottom: 2px dotted #FFC300;
    border-left: 2px dotted #FFC300;
    border-right: 2px dotted #FFC300;
}

.arrow1{
    font-size: 55px;
    color: #17202A;
    margin-left: 2px;
    margin-right: 2px;
}

.between{
    color:black;
    height:24px;
}

/*Timeline CV section................................*/

.textblue{
    color:#212F3C;
    border:2px dotted transparent;
}

.textblack{
    color:black;
    border:2px dotted #FFC300;
}


.timeline{
    padding: 20px;

}
    /*Abow............*/
.timeline-section1 .timeline-icon-section,
.timeline-section2 .timeline-content-top{
    position: relative;
    border-bottom: 20px solid #17202A; /*Arrow width 1,3,5............*/
    height:240px;/*Height top part(above a w arrow) of 1,3,5............*/
}


.timeline-section1 .timeline-icon-section:after{   /*pilspets the rest of them ............*/
    content: " ";
    position:absolute; 
    top:220px;
    right: 0px;
    border:10px solid transparent;
    border-left-color: #17202A;
}
.timeline-section1 .timeline-icon-section:before{    /*Pilspets first...............*/
    content: " ";
    position:absolute; 
    top:220px;
    left:0px;
    border:10px solid transparent;
    border-left-color:#737373;
}

.timeline-content-bottom{  /*Text under 1,3,5...............*/
    border-top:20px;
    overflow:hidden;
}

.timeline-section2 .timeline-icon-section:after{ /*Pilspetsar efter...............*/
    content: " ";
    position:absolute; 
    top:-20px;
    right: 0px;
    border:10px solid transparent;
    border-left-color:#737373;
}
.timeline-section2 .timeline-icon-section:before{ /*Pilspetsar before...............*/
    content: " ";
    position:absolute; 
    top:-20px;
    left:0px;
    border:10px solid transparent;
    border-left-color:#17202A; 
}

.timeline-section2 .timeline-content-top{ /*the jobs ...............*/
    border-bottom:20px solid #737373;
    padding-top: 0px;
     height:175px;
}

.timeline-section2 .timeline-icon-section img{
    border: 2px dotted #FFC300;
} 

.timeline-content-bottom h1,.timeline-content-top h1{
    font-size: 25px;
    font-weight: bold;
}

.timeline-icon-section img{
    border: 2px dotted #FFC300;
    width: 130px;
    height: 130px;
}
.borders{
    border-right:0px solid #212F3C;
    height:50px;
    width: 0px;
    margin: 0px auto;
}



@media (min-width:320px) and (max-width:640px){
    .timeline-section1 .timeline-icon-section::after,
    .timeline-section1 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::after,
    .timeline-section2 .timeline-icon-section,
    .timeline-section2 .timeline-content-top,
    .timeline-section1 .timeline-icon-section{
        border:none;
        
    }
    .timeline-section2{
        border-bottom: 3px solid #17202A;
        margin-bottom: 15px;
    }
    .timeline-section1{
        border-bottom: 3px solid #212F3C;
        margin-bottom: 15px;
    }
}

/*Images................................*/

.greyify{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.greyifyalittle{
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}
