/*


font-family: 'Julius Sans One', sans-serif;

*/

/*General positioning................................*/

.aligner {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
   vertical-align: middle;
   margin-right:auto;
}

body {
    width:100%;
    margin-right: auto;
    background-color:white;
}

.navbar {
    background-image: url("data/1.png");
    height: 250px;
}

    @media only screen and (max-width: 1100px) {
        .navbar {
            height: 50px;
            background-image: url("data/2.png");
        }
    }

a {
    text-decoration: none;
}

.btn-light .bg-lightblue {
    line-height: 14px;
    height: 25px;
    
}

.bg-lightblue {
    background-color: rgb(119, 195, 236) !important;
    float: right;
}

.centered-button {
    float:none;
}

.lightblueText {
    color: rgb(119, 195, 236);
}
    /*Petras name in the middle................................*/
    .presentation {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 3em;
        color: #77c3ec;
    }


/*Chart Titles and other titles................................*/
.headertext{
    font-family: 'Julius Sans One', sans-serif;
}

/*Reset text................................*/
.reset{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-decoration: none
}

/*DC styling Pie Charts................................*/


.per-cat-chart g.row text {
    fill: black;
}

.dc-chart .pie-slice {
    fill: black !important;
    font-size: 9px;
    overflow: hidden;
}
/*DC styling Bar Charts................................*/
.x.axis text {
    transform: rotate(-60deg);
    text-anchor: end !important;
    margin-bottom:10px;
    margin-right:3px;
}


/*Text styling................................*/
.dottedborder{
    border: 3px dotted #4800ff;
}

.dottedborderround {
    border: 4px dotted #4800ff;
    padding: 20px;
    border-radius: 90px;
}

.dottedborderbottom {
    border-bottom: 4px dotted #4800ff;
}




/*Portfolio section................................*/
.similarities{
    background-color: #f5f5f0;
    border: 2px dotted #77c3ec;
}

.similarities2{
    background-color: white;
    border-bottom: 2px dotted #77c3ec;
    border-left: 2px dotted #77c3ec;
    border-right: 2px dotted #77c3ec;
}

.arrow1{
    font-size: 55px;
    color: darkviolet;
    margin-left: 2px;
    margin-right: 2px;
}

.between{
    color:black;
    height:24px;
}

/*Timeline CV section................................*/

.textblue{
    color:#212F3C;
    border:2px dotted transparent;
}

.textblack{
    color:black;
    border:2px dotted #77c3ec;
}


.timeline{
    padding: 20px;

}
    /*Abow............*/
.timeline-section1 .timeline-icon-section,
.timeline-section2 .timeline-content-top {
    position: relative;
    border-bottom: 20px solid #d4b3e2; /*Arrow width 1,3,5............*/
    height: 240px; /*Height top part(above a w arrow) of 1,3,5............*/
}


    .timeline-section1 .timeline-icon-section:after { /*pilspets the rest of them ............*/
        content: " ";
        position: absolute;
        top: 220px;
        right: 0px;
        border: 10px solid transparent;
        border-left-color: #d4b3e2;
    }
    .timeline-section1 .timeline-icon-section:before { /*Pilspets first...............*/
        content: " ";
        position: absolute;
        top: 220px;
        left: 0px;
        border: 10px solid transparent;
        border-left-color: #b8e2e2;
    }

.timeline-content-bottom{  /*Text under 1,3,5...............*/
    border-top:20px;
    overflow:hidden;
}

.timeline-section2 .timeline-icon-section:after { /*Pilspetsar efter...............*/
    content: " ";
    position: absolute;
    top: -20px;
    right: 0px;
    border: 10px solid transparent;
    border-left-color: #b8e2e2;
}
.timeline-section2 .timeline-icon-section:before { /*Pilspetsar before...............*/
    content: " ";
    position: absolute;
    top: -20px;
    left: 0px;
    border: 10px solid transparent;
    border-left-color: #d4b3e2;
}

.timeline-section2 .timeline-content-top { /*the jobs ...............*/
    border-bottom: 20px solid #b8e2e2;
    padding-top: 0px;
    height: 175px;
}

.timeline-section2 .timeline-icon-section img{
    border: 2px dotted #77c3ec;
} 

.timeline-content-bottom h1,.timeline-content-top h1{
    font-size: 25px;
    font-weight: bold;
}

.timeline-icon-section img{
    border: 2px dotted #77c3ec;
    width: 130px;
    height: 130px;
}
.borders{
    border-right:0px solid #212F3C;
    height:50px;
    width: 0px;
    margin: 0px auto;
}



@media (min-width:320px) and (max-width:640px){
    .timeline-section1 .timeline-icon-section::after,
    .timeline-section1 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::before,
    .timeline-section2 .timeline-icon-section::after,
    .timeline-section2 .timeline-icon-section,
    .timeline-section2 .timeline-content-top,
    .timeline-section1 .timeline-icon-section{
        border:none;
        
    }
    .timeline-section2{
        border-bottom: 3px solid #17202A;
        margin-bottom: 15px;
    }
    .timeline-section1{
        border-bottom: 3px solid #212F3C;
        margin-bottom: 15px;
    }
}

/*Images................................*/

/*.greyify{
    -webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);
}

.greyifyalittle{
    -webkit-filter: grayscale(70%);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(70%);
}*/
